.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: black;
    padding: 50px;
}

.box{
    background-color: navajowhite;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
}