/* grid styles ------------------------------------ */
@media (min-width: 300px) {
    main {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 0px;

    }

    .box1 {
        grid-column: span 1;

    }

    .box2 {
        grid-column: span 2;
    }

    .box3 {
        grid-column: span 3;
    }

    /* generic styles ----------------------------------- */
    body {
        margin: 0 auto;
        font-family: 'Lora', serif;
        background-color: floralwhite;
    }

    .box {
        background-color: floralwhite;
        border: 0px solid black;
        padding-top: 300px;


    }

    .h1 {
        font-size: 38px;
        padding-top: 300px;
    }

    h1:hover {
        background-color: indianred;
    }

    .leaves {
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    .main {
        justify-items: center;

    }

    a:link {
        color: black;
        text-decoration: none;

    }

    a:visited {
        color: black;
        text-decoration: none;
    }


    